@media screen and (max-width: 769px)
{
    .header-nav{
        background-attachment:local;
    }
        .burger-menu {
            display: flex; 
        }
    
        .navbar-meny {
            display: none;  
        }
    .navscroll{
        left: 90%;
        width: 50px;
    }
  
h1{
    font-size: 35px;
}
.main{
    justify-content: center;

}
.btn-header{
    font-size: 20px;
    padding: 10px 20px
}
.itemsmain{
    /* flex-direction: column; */
    align-items: center;
  width: 100%;
    height: 45%;
    
    gap: 15px;
   
}
.items1-img, .items2-img, .items3-img{
    width: 50px;
}
.items1-p,.items2-p,.items3-p{
    font-size: 17px;

}
.items.one,.two,.three{
    gap: 5px;
    flex-direction: column;

}
/* sect1 */
.ourfocus-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.ourfocus-items{

    height: 220px;
    width: 115px;
}
.ourfocus-h{
    font-size: 2em;
}
.ourfocus-p{
    font-size: 12px;
}
/* portfolio */
.portfolio-gallery{
    width: 100%;
}
.portfolio-image{
    width: 48%;
}
.ourteam-gallery{
flex-wrap:wrap ;

}
.ourteam-card{
    width: 45%;
}
.navbar-meny-burger{
    font-size: 25px; ;
}

.gallery {
flex-wrap: nowrap;
width: 90%;

}
.ourteam-card:nth-child(1):hover::before,
.ourteam-card:nth-child(2):hover::before,
.ourteam-card:nth-child(3):hover::before,
.ourteam-card:nth-child(4):hover::before{
    display: none;
}
.ourteam-card-p p{
    font-size: 14px;
}
    }


    @media screen  and (max-width:600px) {
        
        h1{
            font-size: 30px;
        }
        .itemsmain{
            flex-direction: column;

        }
    /* sect two */
    .ourfocus-items{
        width: 40%;
    }
    .gallery{
        flex-wrap: wrap;
    }
    .gallery-items{
        width: 330px;
        height: 210px;
    }
    .portfolio-image {
        width: 80%;
    }
    .ourteam-gallery{
        justify-content: center;
    }
    .ourteam-card{
        width: 100%;
    }
.title-1{
    flex-direction: column;
    gap: 30px;
    
}
.title-text{
    width: 100%;
    align-items: center;

}
.social-media{
    align-items: center;
}
.share-icon > img{
    width: 35px;
   transform:translate(-100px, -70px)
}
.footerPage{
    padding: 50px 15% 50px 15%;
}
.footerItems > img{
    width: 35px;

}
.footerItems > h6 {
    font-size: 15px;
}
.footerItems > p{
    font-size: 11px;
}
    }


    @media screen and (max-width:400px) {
.navscroll{
    left: 85%;
}
.navbar-meny-burger{
    font-size: 16px;
max-height: 45%;
}

        h1{
            font-size: 27px;
        }
        .items1-img,.items2-img,.items3-img{
            width: 40px;
        }
        .items1-p, .items2-p, .items3-p{
           font-size: 12px; 
        }
        .video-nav >h4{
            font-size: 25px;
        }
        .video-nav p{
            font-size: 12px;
        }
        .title-1{
            padding: 50px 35px;
        }
        .footerPage{
            padding: 50px 10% 50px 10%;
        }
        .footerItems{
            gap: 10px;
        }
    }
    @media (orientation: landscape)  and ( max-width:932px){
        h1{
        font-size: 25px;
        }
        .main{
            max-height: 100vh;
        }
        .btn-header{
            font-size: 16px;
        }
        .main{
            gap: 30px;
        }
        .items1-img,.items2-img,.items3-img{
            width: 40px;
        }
        .items1-p, .items2-p, .items3-p{
            font-size: 13px;
        }
        .ourfocus-card {
            gap: 15px;
        }
        .gallery{
            flex-wrap: wrap;
            width: 100%;
        }
        .video-nav > h4{
            font-size: 25px;
        }
        .video{
            height: 50vh;
        }
        .video-nav{
            gap: 15px;
        }
        .video-nav > p{
            font-size: 14px;
        }
        .ourteam-card{
            width: 46%;
            box-sizing: border-box;
        }
        .navbar-meny-burger {
            font-size: 19px;}
            .burger-menu:hover + .navbar-meny-burger, .navbar-meny-burger:hover{
                height: 45%;
                flex-wrap: wrap;
                border-radius: 0px 0px 10px 10px;
            }
    
    
            
    .header-nav{
        background-attachment:local;
    }
        .burger-menu {
            display: flex; 
        }
    
        .navbar-meny {
            display: none;  
        }
        }
