
/* navbar */
.header-nav{
    background-image: url(../img/background-one.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;

}
.background{
    background-color:rgba(47, 49, 61, 80%) ;
 height: 100%;
 width: 100%;
 position: relative;
}
.navbar{
    background-color: #fff;
   box-shadow: 0 0 2px rgba(0,  0, 0 ,1);
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}
.logo-header > a{
    font-size: 40px;
    font-family: "Dancing Script", system-ui;
    font-optical-sizing: auto;
    color: #000;
}
    .logo-header::first-letter{
        color:var(--color);
        font-size: 41px;
        font-family: "Dancing Script", system-ui;
        font-optical-sizing: auto;
}
.navbar-meny{
    list-style-type: none;
    display: flex;
    gap:10px;
}
.nav-list{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    transition: 300ms;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;

   
    
}

/* Main  */
.main{
    display: flex;
    height: 100vh;
  align-items: center;
    flex-direction: column;
    gap: 70px;
    
}
h1{
    color: #ffffff;
    font-size: 46px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 4em ;
}
.btn-header{
    color: #ffffff;
    text-decoration: none;
    background-color: var(--color);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    word-spacing: 1px;
    text-transform: uppercase;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    transition: 600ms all;
}
.itemsmain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 30%;
    flex-wrap: wrap;
}
.items1-p{
    color: var(--colorg);

    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    
}

.items2-p{
    color: var(--colorp);
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;

}
.items3-p{
   color: var(--coloro);
   font-size: 16px;
   font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.items{
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    
}
/* section two */
.ourfocus{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
    
}
.ourfocus-h{
    font-size: 2.5em;
    margin: 70px 0px 15px 0px;
    text-align: center;
}
.ourfocus-p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    opacity: 0.9;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    width: 100%;
    text-align: center;
}


.ourfocus-items p  {
    text-align : center;
    opacity: 0.9;
    line-height: 20px;
    font-size: 12px;
}

.ourfocus-items{
    font-family: "Open Sans", sans-serif;
    box-shadow:0 0 0.5px black  ;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 250px;
    padding: 30px 15px 30px 15px;
    align-items: center;
    gap: 15px;
    
}
.ourfocus-items:nth-child(4){
    border-bottom: 1.5px solid var(--color); 
}

.ourfocus-items:nth-child(1),
.ourfocus-items:nth-child(2),
.ourfocus-items:nth-child(3),
.ourfocus-items:nth-child(4){
    border-bottom: 1.5px solid transparent;
transition: 600ms;
}


.ourfocus-card{
    display: flex;
    gap: 25px;
    font-size: 12px;
    justify-content: center;
    flex-wrap: wrap;
}

/* section-three */
.story{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
   
}
.story-head{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
   
}
.story-head > h2{
    font-family: "Dancing Script", system-ui;
    font-weight: 700;
    margin: 60px 0px 15px 0px;
}
.story-head > h3{
    margin: 0px 0px 25px 0px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
}
.story > p {
    width: 70%;
    text-align: center;
    margin-bottom: 70px;
    font-size: 15px;
    opacity: 0.8;
}
.gallery{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 150px;
    gap: 25px;
}
.gallery-item{
    width: 300px;
  height: 200px;
    object-fit: cover;
    position: relative;
    
}
/* portfolio */
.portfolio-header h5{
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 37px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.portfolio-header p{
    width: 100%;
    font-size: 20px;
    opacity: 0.8;
    text-align: center;
}
.portfolio-gallery{
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;

}
.portfolio{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 70px;
}
.portfolio-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}
.portfolio-image{
    width: 30%;
    height: 250px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 1px black;
    -webkit-box-shadow:0 0 1px black;
    -moz-box-shadow:0 0 1px black
}


.portfolio-gallery .image{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 600ms
}
.portfolio-image p{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 0px;
    transition: 900ms;
    -webkit-transition: 900ms
    
}
.add{
    position: absolute;
    z-index: 1;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    filter: drop-shadow(0 0 5px black);
    opacity: 0;
    transition: 800ms;
    border-radius: 50px;
}
/* section ourteam */
.ourteam{
    width: 100%;
    background-color: azure;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    position: relative;
}
.ourteam-card-p::before {
    content: '';
    position: absolute;
    bottom: -5px; /* Позиционирование под элементом */
    left: 50%;
    transform: translateX(-50%);
    width: 105%; /* Длина подчеркивания */
    height: 3px; /* Толщина подчеркивания */
    background-color: currentColor; /* Совпадение с цветом текста */
}
/* Установка цвета подчеркивания для каждого элемента */
.ourteam-card:nth-child(1) .ourteam-card-p::before {
    background-color: var(--coloro); /* Цвет для первого элемента */
}

.ourteam-card:nth-child(2) .ourteam-card-p::before {
    background-color: var(--colorg); /* Цвет для второго элемента */
}

.ourteam-card:nth-child(3) .ourteam-card-p::before {
    background-color: var(--colorp); /* Цвет для третьего элемента */
}

.ourteam-card:nth-child(4) .ourteam-card-p::before {
    background-color: var(--color); /* Цвет для четвертого элемента */
}
.ourteam-header{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 5%;
    gap: 10px;

}
.ourteam-header h5{
    font-size: 2em;
}
.ourteam-header p{
    font-size: .9em;
    opacity: .7;
}
.ourteam-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.ourteam-gallery{
    width: 80%;
    display: flex;
    gap: 35px;
}
.ourteam-card{
    width: 100%;
    height: 300px;
    border: 5px white solid ;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    transition: 800ms;
}

.ourteam-card-img{
    height: 80%;
    width: 100%;
    box-sizing: border-box;
}
.ourteam-card-img img{
    width: 100%;
    object-fit:cover;
    height: 100%;
    background-position: center;
}
.ourteam-card-p{
    position: relative;
    padding: 5px;
    height: calc(20% - 10px);
    width: calc(100% - 10px);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 5px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    transition: 800ms;
}
.ourteam-card-p h6{
    font-size: 13px;
}
.ourteam-card-p p{
    font-size: 11px;
}

.ourteam-card:nth-child(1) .ourteam-card-p h6 {
    color: var(--coloro); 
    
}

.ourteam-card:nth-child(2) .ourteam-card-p h6 {
    color: var(--colorg); 
}

.ourteam-card:nth-child(3) .ourteam-card-p h6 {
    color: var(--colorp); 
}

.ourteam-card:nth-child(4) .ourteam-card-p h6 {
    color: var(--color); 
}
/* opacity text */
.title-1{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    width: 80%;
    padding: 70px 60px 60px 80px;
    box-sizing: border-box;
    border: 1px rgba(52,52,52,10%) solid;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background-color: #ffffff;
    margin-bottom:100px ;
}
.title-text > h6{
    font-size: 15px;
}
.title-text > p{
    font-size: 14px;
    color: grey;
}
.title-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.social-media a {
    color: black;
}
.social-media li {
    margin-top: 5px ;
    margin-bottom: 5px;
    opacity: .8;
}
.social-media img {
    width: 15px;
    transform: translateX(-5px) translateY(2px);
    opacity: .8;
}
.share-iconv img{
width: 35px;
    transform: translateX(-70px) translateY(-49px);
}
/* footer */
footer{
    background-image: url(../img/footer.png);
    bottom: 0;
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing:border-box ;
    background-size: cover;
    background-position: center;
    padding: 50px 20% 50px 20%;
    opacity: .9;
}
.footerItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: calc(25% - 40%);
}
.footerItems > img{
    width: 42px;
}
.footerItems > h6{
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-family: "Poppins ",sans-serif;
}
.footerItems > p 
{
    text-align: center;
    color:#ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    opacity: 0.8;

}
.cirle{
    position: relative;
  display: flex;
    border-radius: 100px;
    width: 10px;
    aspect-ratio: 1;
    border: 1px solid transparent;
}
.cirle::before{
    transform: translate(18%,18%);
    position: absolute;
content: "";
width: 75%;
height: 75%;
background-color: var(--color);
border-radius: 100px;}
.cirle.onecircle{
    border: 1px solid var(--color)

}
.cirle .onecircle::before{
    background-color: var(--color);

}
.cirle.twocircle{
    border: 1px solid var(--colorg)

}
.cirle.twocircle::before{
    background-color: var(--colorg);

}
.cirle.threecircle{
    border: 1px solid var(--colorp)

}
.cirle.threecircle::before{
    background-color: var(--colorp);

}
.cirle.fourcircle{
    border: 1px solid var(--coloro)

}
.cirle.fourcircle::before{
    background-color: var(--coloro);

}
